<P>JUEGO SCRABBLE - LOS LETRADOS</P>
<h1><%= @letrasIniciales %> </h1>
<form method="post" action="/validarPalabra">
<input type="text" name="palabraIngresada">
<input type="submit" value="Confirmar Palabra">
</form>
<%= @palabraIngresada%>

